.logo
			{
				display: block;
				font-size: 200px;
				text-align: center;
			}

.navbar
{
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #404040;
	position: fixed;
	width: 100%;
	left: 0;
}

li
{
	display: inline;
	float: left;
	padding: 8px;
	text-align: center;
}

li a
{
	text-decoration: none;
	color: #FFFFFF;
	padding: 16px;
	text-align: center;
	display: block;
}

li a:hover
{
	background-color: black;
}

.active
{
	background-color: #04AA6D;
}
.footbar
{
	margin: 0;
	padding: 0;
	bottom: 0;
	width: 100%;
	position: absolute;
	background-color: #404040;
	color: #FFFFFF;
	left: 0;
}

.right-align
{
	float: right;
}

.body-style
{
	background-color: #99FFCC;
}

input
{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

select
{
	width: 5%;
	padding: 6px;
	margin: 8px 0;
	box-sizing: border-box;
}

.banner
{
	background-color: #404040;
	color: #99FFCC;
}

.error
{
	font-family:'Courier New', Courier, monospace;
	text-align: center;
}

#code
{
	font-size: 150px;	
}
#notFound
{
	font-size: 70px;

}
